@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: lightcyan;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin-bottom: 12px;
}

.card {
  width: 450px;
  margin: 40px;
  border: 4px solid #222;
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
  background-color: #f7f7f7;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 100%;
  height: 40%;
  display: block;
}

.data {
  padding: 32px;
  padding-top: 24px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 4px 12px;
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgb(53, 52, 52);
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.strong {
  background-color: #5c946e;
}
.good {
  background-color: #f3b61f;
}
.learning {
  background-color: #8d86c9;
}
